<html>
<head>
  <title>ToDo List</title>
  <style type="text/css">
    #templates {
      display: none;
    }

    body {
      background-color: #E5FFEB;
    }

    #list .item {
      background: #FAFFE5;
      width: 200px;
      float: left;
      padding 1px 20px;
    }
  </style>

</head>
<body>

<h1>TO DO LIST:</h1>

<!-- INPUTS -->
<label>TO DO: </label><input type="text" id="name"></input>
<label>Complete? </label><input type="text" id="complete"></input>
<input id="submit-button" type="button" value="Add item"></input>

<!-- TO DO LIST -->
<div id="list">
  
</div>

<!-- TEMPLATE -->
<div id="templates">
  <script class="item" type="text/template">
    <div class="item">
      <h5><%= name %></h5>
      <p>Complete? <%= complete %></p>
    </div>
  </script>
</div>

<!-- SCRIPT IMPORT -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>


<!-- SCRIPT -->
<script type="text/javascript">
  // alert('Hello World!');

  var renderList = function(list) {
    // HTML Template
    var itemTemplateHtml = $('#templates .item').html();
    var itemTemplate = _.template(itemTemplateHtml);

    // Loop over the array of list objects.
    for(var i = 0; i < list.length; i += 1) {
      var newItemHtml = itemTemplate(list[i]);
      $('#list').append(newItemHtml);
    }
  };

  var testTasks = [
    {
      name: 'Create TODO list',
      complete: false
    },
    {
      name: 'Implement Excercise',
      complete: false
    }
  ];

  renderList(testTasks);
</script>

</body>
</html>
